<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialPortBluetooth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SerialPortBluetooth.Properties.Settings>
            <setting name="Button1" serializeAs="String">
                <value>BUTTON1</value>
            </setting>
            <setting name="Button2" serializeAs="String">
                <value>BUTTON2</value>
            </setting>
            <setting name="Button3" serializeAs="String">
                <value>BUTTON3</value>
            </setting>
            <setting name="Button4" serializeAs="String">
                <value>BUTTON4</value>
            </setting>
            <setting name="Left1" serializeAs="String">
                <value>LEFT1</value>
            </setting>
            <setting name="Right1" serializeAs="String">
                <value>RIGHT1</value>
            </setting>
            <setting name="Left2" serializeAs="String">
                <value>LEFT2</value>
            </setting>
            <setting name="Right2" serializeAs="String">
                <value>RIGHT2</value>
            </setting>
            <setting name="Select" serializeAs="String">
                <value>SELECT</value>
            </setting>
            <setting name="Start" serializeAs="String">
                <value>START</value>
            </setting>
            <setting name="Up" serializeAs="String">
                <value>UP</value>
            </setting>
            <setting name="Down" serializeAs="String">
                <value>DOWN</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>LEFT</value>
            </setting>
            <setting name="Right" serializeAs="String">
                <value>RIGHT</value>
            </setting>
            <setting name="LeftAnalogMid" serializeAs="String">
                <value>LEFTANALOGMID</value>
            </setting>
            <setting name="RightAnalogMid" serializeAs="String">
                <value>RIGHTANALOGMID</value>
            </setting>
            <setting name="SendEndOfLineChar" serializeAs="String">
                <value>False</value>
            </setting>
        </SerialPortBluetooth.Properties.Settings>
    </userSettings>
</configuration>